
.left {
/*
float:left;
left:20px;
*/
}

.right{
/*
position:relative;
float:left;
top:110px;
right:0px;
*/
font-size:800%;
}

.medium{
font-size:125%;
}

.large{
font-size:300%;
}

.bottom{
/*
position:absolute;
bottom:60px;
*/
}
.regular{
color:black;
}

.inperiod{
color:green;
}

.betweenperiod{
color:red;
}
